<div class="detail">
  <div class="modal-header">
    <h4 class="modal-title" style="text-align: center">MoiSha - Member</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <table class="table-hover table-bordered">
    <tbody>
    <tr>
      <th class="head">이름</th>
      <td class="content">
        <span class="name">{{user.name}}</span>
      </td>
    </tr>
    <tr>
      <th class="head">닉네임</th>
      <td class="content">
        <span class="nickName">{{user.nickName}}</span>
        <span class="studentID">{{user.studentId.toString() |slice:2:4}}학번</span>
      </td>
    </tr>
    <tr>
      <th clas="head">단과대/전공</th>
      <td>
        <span class="major">{{user.college}} {{user.major.name}}</span>
      </td>
    </tr>
    <tr>
      <th class="head">{{user.nickName}}님의 관심사</th>
      <td class="content">
          <span *ngFor="let interest of user.interests;"
            class="badge badge-pill badge-success" >{{interest.name}}
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
