.form-interest{
  padding-top: 20px;
}
.badge{
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.badgefirst{
  color: #ffffff;
  width: 30%;
  height: 100%;
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 16px;
}
#inputDetail{
  height: 200px;
}
