<div class="container col-4 control-pad">
  <button class="btn btn-success" routerLink="create">새 글 쓰기</button>
</div>
<div class="row">
  <div class="article-list col-4">
    <h6 class="feed-header">새로운 피드</h6>
    <app-feed-list
      [articles]="articles"
      (scroll)="fetchMoreFeed()"
    ></app-feed-list>
  </div>
  <div class="interest-list col4">
    <h6 class="interest-header">{{interest?.name}} 관련 관심사</h6>
    <app-interest-list *ngIf = "shouldLoad | async"
      [interests]="interests">
    </app-interest-list>
  </div>
</div>
