<div class="detail">
  <div class="modal-header">
    <h4 class="modal-title" style="text-align: center">{{article?.interest?.name}}의 피드</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <table class="table table-hover table-bordered">
    <tbody>
    <tr>
      <th class="head">title</th>
      <td class="author"><span class="text-secondary">{{article.title}}</span></td>
    </tr>
    <tr>
      <th class="head">author</th>
      <td class="author"><span class="text-secondary">{{article.author}}</span></td>
    </tr>
    <tr>
      <th clas="head">tags</th>
      <td>
      <span *ngFor="let tag of article.tags;"
            class="badge" [ngStyle] = "{'background-color': tag.color.rgb}">{{tag.name}}</span>
      </td>
    </tr>
    <tr>
      <th class="head">content</th>
      <td class="content"><p>{{article.content}}</td>
    </tr>
    </tbody>
  </table>
<app-write-reply (write)="writeReply($event)" [comment]="null" [articleID]="article.id"></app-write-reply>
  <div *ngFor = "let comment of comments">
    <app-comment (write)="writeReply($event)" (delete)="deleteReply($event)" (edit)="editReply($event)" [user]="user" [comment]="comment"></app-comment>
  </div>
</div>
