.container{
  position: fixed;
  width: 10%;
  height: 100%;
  background-color: #444444;
}
.gap{
  height: 20%;
}
.list-group{
  overflow-y: scroll;
  max-height: 60%;
}
.badge{
  background-color: #333333;
  color: #ffffff;
  text-align: center;
}
.list-group-item{
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
  padding: 10px 0px;
  background-color: #333333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.list-group::-webkit-scrollbar{
  display: none;
}
