<script src="write-reply.component.ts"></script>
<form class="form-reply" [formGroup]="replyForm" (ngSubmit)="writeReply()" novalidate>
  <label for="inputContent" class="sr-only">내용</label>
  <textarea type="text"
            rows="5"
            id="inputContent"
            class="form-control"
            placeholder="댓글 달기"
            formControlName="content"
            (input)="error=false">
  </textarea>
  <button class="btn btn-lg btn-primary btn-block " type="submit">작성</button>
  <p style="clear:both;">&nbsp;</p>
</form>
