.panel-heading{
  font-size: 20px;
  color: #555;
  background: #E8E8E8;
  padding: 4px 5px;
  border-radius: 3px;
  vertical-align: middle;
}
.panel-body{
  font-size: 20px;
  color: #555;
  padding: 4px 5px;
  border-radius: 3px;
  vertical-align: middle;
}
#tagBadge1{
  font-size: 50px;
}
