.moisha{
  margin-left:18px;
  font-size: 24px;
}
.home{
  font-size: 20px
}
.navbar{
  background: #444444;
  color: #ffffff;
  z-index: 1;
  position: fixed;
  width: 100%;
}
.name-button{
  background-color:#444444;
}
.user-name{
  font-size:18px;
  color: #ffffff;
}
.d-inline-block{
  margin-left:5px;
  background-color: #343A40;
}
.dropdownButton{
  background-color: #343A40;
  color: #ffffff;
}
